<div class="page-title">
  <div class="title-env">
    <h1 class="title">Personas</h1>
    <p class="description">Donde se registra a las persona de manera global</p>
  </div>
  <div class="breadcrumb-env">
    <ol class="breadcrumb bc-1">
      <li>
        <a href="#/"><i class="fa-home"></i>Home</a>
      </li>
      <li class="active">
          <strong>Personas</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row" ui-view>
  <div class="col-sm-12"  ng-init="init()">
    <section class="panel panel-default">
      <header class="panel-heading">
        <span class="pull-right">
          <a ui-sref="personas.new" class="btn btn-secondary btn-icon">
            <i class="fa-plus"></i>
            <span>Nuevo</span>
          </a>
        </span>
        <h3 class="panel-title"> Lista </h3>
      </header>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-model-2 table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>N° Documento</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <!-- <th>Genero</th> -->
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="persona in personas">
                <td>{{persona.id}}</td>
                <td>{{persona.nro_documento}}</td>
                <td>{{persona.nombres}}</td>
                <td>{{persona.apellido_paterno}}</td>
                <td>{{persona.apellido_materno}}</td>
                <!-- <td>{{persona.genero}}</td> -->
                <td>
                  <!-- <a ui-sref=".show({id:persona.id})" class="btn btn-icon btn-info" alt="mas información">
                    <i class="fa-search"></i>
                  </a> -->
                  <a ui-sref="personas.edit({idPersona:persona.id})" class="btn btn-icon btn-blue" alt="Editar">
                    <i class="fa-pencil"></i>
                  </a>
                  <button class="btn btn-icon btn-red" ng-click="remove(persona)" alt="eliminar">
                    <i class="fa-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <footer class="panel-footing"></footer>
    </section>
  </div>
</div>
