<div class="page-title">
  <div class="title-env">
    <h1 class="title">Trabajadores</h1>
    <p class="description">Donde se registra a las persona que trabajan en la institucion</p>
  </div>
  <div class="breadcrumb-env">
    <ol class="breadcrumb bc-1">
      <li>
        <a href="#/"><i class="fa-home"></i>Home</a>
      </li>
      <li class="active">
          <strong>Trabajadores</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row" ui-view>
  <div class="col-sm-12"  ng-init="init()">
    <section class="panel panel-default">
      <header class="panel-heading">
        <span class="pull-right">
          <a ui-sref="trabajadores.new" class="btn btn-secondary btn-icon">
            <i class="fa-plus"></i>
            <span>Nuevo</span>
          </a>
        </span>
        <h3 class="panel-title"> Lista </h3>
      </header>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-model-2 table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Persona</th>
                <th>Sede</th>
                <th>Local</th>
                <th>Ambiente</th>
                <th>Puesto</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="trabajador in trabajadores">
                <td>{{trabajador.id}}</td>
                <td render-trabajador ng-model="trabajador.id"></td>
                <td render-sede ng-model="trabajador.sede"></td>
                <td render-local ng-model="trabajador.local"></td>
                <td render-ambiente ng-model="trabajador.ambiente"></td>
                <td render-puesto ng-model="trabajador.puesto"></td>>
                <td>
                  <button class="btn btn-icon btn-red" ng-click="remove(trabajador)" alt="eliminar">
                    <i class="fa-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <footer class="panel-footing"></footer>
    </section>
  </div>
</div>
