<div class="page-title">
  <div class="title-env">
    <h1 class="title">Disposición del Bien</h1>
    <p class="description">Son las disposiciones de los bienes que se encuentran en almacén. </p>
  </div>
  <div class="breadcrumb-env">
    <ol class="breadcrumb bc-1">
      <li>
        <a href="#/"><i class="fa-home"></i>Home</a>
      </li>
      <li class="active">
          <strong>Disposición</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row" ui-view>
  <div class="col-sm-12"  ng-init="init()">
    <section class="panel panel-default">
      <header class="panel-heading">
        <span class="pull-right">
          <a ui-sref=".new" class="btn btn-secondary btn-icon">
            <i class="fa-plus"></i>
            <span>Nuevo</span>
          </a>
        </span>
        <h3 class="panel-title"> Lista </h3>
      </header>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-model-2 table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Institución</th>
                <th>Sede</th>
                <th>Local</th>
                <th>Ambiente</th>
                <th>Responsable</th>
                <th>Bien</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="disposicion in disposiciones">
                <td>{{disposicion.id}}</td>
                <td render-institucion ng-model="disposicion.institucion"></td>
                <td render-sede ng-model="disposicion.sede"></td>
                <td render-local ng-model="disposicion.local"></td>
                <td render-ambiente ng-model="disposicion.ambiente"></td>
                <td render-trabajador ng-model="disposicion.solicitante"></td>
                <td render-bien ng-model="disposicion.bien"></td>
                <td>
                  <a ui-sref="grupos.clases({idDisposicion:disposicion.id})" class="btn btn-icon btn-info" alt="mas información">
                    <i class="fa-search"></i>
                  </a>
                  <a ui-sref="grupos.edit({idDisposicion:disposicion.id})" class="btn btn-icon btn-blue" alt="Editar">
                    <i class="fa-pencil"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <footer class="panel-footing"></footer>
    </section>
  </div>
</div>
