<div class="page-title">
  <div class="title-env">
    <h1 class="title">Traslado del Bien</h1>
    <p class="description">Son llos traslados de los bienes que se dentro de la institucion. </p>
  </div>
  <div class="breadcrumb-env">
    <ol class="breadcrumb bc-1">
      <li>
        <a href="#/"><i class="fa-home"></i>Home</a>
      </li>
      <li class="active">
          <strong>Traslados</strong>
      </li>
    </ol>
  </div>
</div>

<div class="row" ui-view>
  <div class="col-sm-12"  ng-init="init()">
    <section class="panel panel-default">
      <header class="panel-heading">
        <span class="pull-right">
          <a ui-sref=".new" class="btn btn-secondary btn-icon">
            <i class="fa-plus"></i>
            <span>Nuevo</span>
          </a>
        </span>
        <h3 class="panel-title"> Lista </h3>
      </header>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-model-2 table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Solicitante</th>
                <th>Bien</th>
                <th>Decripcion</th>
                <th>Origen</th>
                <th>Destino</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="traslado in traslados">
                <td>{{$index+1}}</td>
                <td render-trabajador ng-model="traslado.solicitante"></td>
                <td render-bien ng-model="traslado.bien"></td>
                <td>{{traslado.descripcion}}</td>
                <td render-ambiente ng-model="traslado.origen"></td>
                <td render-ambiente ng-model="traslado.destino"></td>
                <!-- <td>
                  <a ui-sref="grupos.clases({idDisposicion:traslado.id})" class="btn btn-icon btn-info" alt="mas información">
                    <i class="fa-search"></i>
                  </a>
                  <a ui-sref="grupos.edit({idDisposicion:traslado.id})" class="btn btn-icon btn-blue" alt="Editar">
                    <i class="fa-pencil"></i>
                  </a>
                </td> -->
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <footer class="panel-footing"></footer>
    </section>
  </div>
</div>
