<div class="col-sm-12"  ng-init="init()">
  <section class="panel panel-default">
    <header class="panel-headin">
      <span class="pull-right">
        <a ui-sref=".^" class="btn btn-danger btn-icon">
          <i class="fa-times"></i>
          <span>Cancelar</span>
        </a>
      </span>
      <h3 class="panel-title"> Nuevo Traslado de bien </h3>
      <div class="clearfix"></div>
    </header>
    <div class="panel-body" ng-init="init()" class="col-sm-12">
      <form name="trasladoBienForm" class="row">
          <div class="col-sm-5">
            <h1>Origen</h1>
            <div class="form-group"
            ng-class="{'validate-has-error':trasladoBienForm.sedeO.$invalid}">
              <label class="control-label" for="sede">Sede</label>
              <select class="form-control"
                      ng-model="traslado.sedeO"
                      ng-change="changeSedesO(traslado.sedeO)">
                      <option ng-repeat="sedeO in sedes" value="{{sedeO.id}}">
                        {{sedeO.nombre}}
                      </option>
              </select>
              <span ng-show="trasladoBienForm.sedeOrigen.$error.required" class="validate-has-error">
                Este campo es necesario.
              </span>
            </div>
            <div class="form-group" ng-class="
            {'validate-has-error':trasladoBienForm.local.$invalid}">
              <label class="control-label" for="local">Local</label>
              <select class="form-control"
                      ng-disabled="!localesO.$resolved"
                      ng-model="traslado.localO"
                      ng-change="changelocalesO(traslado.localO)"
                      >
                      <option ng-repeat="local in localesO" value="{{local.id}}">
                        {{local.nombre}}
                      </option>
              </select>
              <span ng-show="trasladoBienForm.sede.$error.required"
                    class="validate-has-error"> Este campo es necesario.
              </span>
            </div>
            <div class="form-group"
            ng-class="{'validate-has-error':trasladoBienForm.ambiente.$invalid}">
              <label class="control-label" for="ambiente">Ambiente</label>
              <select class="form-control"
                      ng-disabled="!ambientesO.$resolved"
                      ng-model="traslado.ambienteO"
                      ng-change="changeAmbientesO(traslado.ambienteO)"
                      >
                      <option ng-repeat="ambiente in ambientesO" value="{{ambiente.id}}">
                        {{ambiente.nombre}}
                      </option>
              </select>
              <span ng-show="trasladoBienForm.sede.$error.required" class="validate-has-error">
                Este campo es necesario.
              </span>
            </div>
            <div class="form-group">
              <label class="control-label" for="ambiente">Bienes</label>
              <select class="form-control"
                      ng-model="traslado.origen"
                      ng-disabled="!bienesO.$resolved"
                      size={{longitud}}
                      required>
                      <option ng-repeat="bien in bienesO" value="{{bien.id}}">
                        {{bien.codigo}}
                      </option>
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <button type="button" name="button" ng-click="trasladando(traslado);">
              ->
            </button>
          </div>
          <div class="col-sm-5">
            <h1>Destino</h1>
            <div class="form-group" ng-class="{'validate-has-error':trasladoBienForm.sede.$invalid}">
              <label class="control-label" for="sede">Sede</label>
              <select class="form-control"
                      ng-disabled="!sedes.$resolved"
                      ng-model="traslado.sedeD"
                      ng-change="changeSedesD(traslado.sedeD)"
                      >
                      <option ng-repeat="sede in sedes" value="{{sede.id}}"> {{sede.nombre}}</option>
              </select>
              <span ng-show="trasladoBienForm.sede.$error.required" class="validate-has-error"> Este campo es obligatorio.  </span>
            </div>
            <div class="form-group" ng-class="{'validate-has-error':trasladoBienForm.local.$invalid}">
              <label class="control-label" for="local">Local</label>
              <select class="form-control"
                      ng-disabled="!localesD.$resolved"
                      ng-model="traslado.localD"
                      ng-change="changelocalesD(traslado.localD)"
                      >
                      <option ng-repeat="local in localesD" value="{{local.id}}"> {{local.nombre}}</option>
              </select>
              <span ng-show="trasladoBienForm.sede.$error.required" class="validate-has-error"> Este campo es obligatorio.  </span>
            </div>
            <div class="form-group" ng-class="{'validate-has-error':trasladoBienForm.ambiente.$invalid}">
              <label class="control-label" for="ambiente">Ambiente</label>
              <select class="form-control"
                      ng-disabled="!ambientesD.$resolved"
                      ng-model="traslado.ambienteD"
                      ng-change="changeAmbientesD(traslado.ambienteD)"
                      >
                      <option ng-repeat="ambiente in ambientesD" value="{{ambiente.id}}"> {{ambiente.nombre}}</option>
              </select>
              <span ng-show="trasladoBienForm.sede.$error.required" class="validate-has-error"> Este campo es obligatorio.  </span>
            </div>
            <div class="form-group">
              <label class="control-label" for="ambiente">Bienes</label>
              <select class="form-control"
                      ng-model="traslado.destino"
                      ng-disabled="!bienesD.$resolved"
                      size={{longitud}}
                      required>
                      <option ng-repeat="bien in bienesD" value="{{bien.id}}"> {{bien.codigo}}</option>
              </select>
            </div>
          </div>
      </form>
    </div>
  </section>
