<section>
  <md-toolbar md-scroll-shrink class="md-primary">
    <div class="md-toolbar-tools" class="col-md-12">
      <span class="col-md-9">
      Sedes
      </span>
      <span class="col-md-3" ng-hide="nueva_institucion">
          <md-button class="md-info md-fab md-fab-right md-button md-mini" aria-label="Use Android" ng-click="nueva_institucion=1">
              <md-icon md-svg-src="{{static_url}}dist/img/icons/ic_add_24px.svg"></md-icon>
          </md-button>
      </span>
    </div>
  </md-toolbar>
</section>
