{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'includes/head.html' %}
</head>

<body class="page-body" ng-app="app">

	<div class="page-container">

		<div class="sidebar-menu toggle-others fixed">

			<div class="sidebar-menu-inner">

				<header class="logo-env">

					<!-- logo -->
					<div class="logo">

						<!-- <a href="#" class="">
							<p style="color:#fff;font-size: 8pt;">INICIO</p>
						</a> -->
						<a href="/admin" class="">
							<p style="color:#fff;font-size: 8pt;">
								<img src="{% static 'images/logo.png' %}" width="160" alt="" />
							</p>
						</a>
					</div>
					<span class="title"></span>

					<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
					<div class="mobile-menu-toggle visible-xs">
						<a href="#" data-toggle="user-info-menu">
							<i class="fa-bell-o"></i>
							<span class="badge badge-success">7</span>
						</a>

						<a href="#" data-toggle="mobile-menu">
							<i class="fa-bars"></i>
						</a>
					</div>

					<!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
					<!-- <div class="settings-icon">
						<a href="#" data-toggle="settings-pane" data-animate="true">
							<i class="linecons-cog"></i>
						</a>
					</div> -->


				</header>
				<ul id="main-menu" class="main-menu" ng-controller="sideBarCtrl">
					<!-- add class "multiple-expanded" to allow multiple submenus to open -->
					<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
					<li class="active opened active">
						<a href="#/">
							<i class="fa fa-home"></i>
							<span class="title">Inicio</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="linecons-cog"></i>
							<span class="title">Mantenimiento</span>
						</a>
						<ul>
							<li class="active">
								<a ui-sref="institucion">
									<span class="title">Institución</span>
								</a>
							</li>
							<li>
								<a ui-sref="cuenta_contable">
									<span class="title">Cts Contables</span>
								</a>
							</li>
							<li>
								<a ui-sref="grupos">
									<span class="title">Grupos/Clases</span>
								</a>
							</li>
							<li>
								<a ui-sref="areas">
									<span class="title">Areas/Puestos</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="#">
							<i class="linecons-cog"></i>
							<span class="title">Recur. Humanos</span>
						</a>
						<ul>
							<li>
								<a ui-sref="personas">
									<span class="title">Personas</span>
								</a>
							</li>
							<li>
								<a ui-sref="trabajadores">
									<span class="title">Trabajador</span>
								</a>
							</li>
							<li>
								<a ui-sref="proveedor">
									<span class="title">Proveedores</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="#">
							<i class="linecons-cog"></i>
							<span class="title">Cat. de Bienes</span>
						</a>
						<ul>
							<li>
								<a ui-sref="catalogo">
									<span class="title">Catalogo Bienes</span>
								</a>
							</li>
							<li>
								<a ui-sref="nota_entrada">
									<span class="title">Nota de Entrada</span>
								</a>
							</li>
							<li>
								<a ui-sref="bienes">
									<span class="title">Bienes</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="">
						<a href="#">
							<i class="linecons-cog"></i>
							<span class="title">Movimientos</span>
						</a>
						<ul>
							<li>
								<a ui-sref="disposicion">
									<span class="title">Disposicion de Bien</span>
								</a>
							</li>
							<!-- <li>
								<a ui-sref="traslados">
									<span class="title">Traslados de bien</span>
								</a>
							</li>
							<li>
								<a ui-sref="bajas">
									<span class="title">Bajas de Bien</span>
								</a>
							</li> -->
						</ul>
					</li>
				</ul>
			</div>
		</div>

		<div class="main-content">

			<nav class="navbar user-info-navbar"  role="navigation"><!-- User Info, Notifications and Menu Bar -->

				<!-- Right links for user info navbar -->
				<ul class="user-info-menu right-links list-inline list-unstyled">
							<li class="search-form"><!-- You can add "always-visible" to show make the search input visible -->

						<form name="userinfo_search_form" method="get" action="extra-search.html">
							<input type="text" name="s" class="form-control search-field" placeholder="Type to search..." />

							<button type="submit" class="btn btn-link">
								<i class="linecons-search"></i>
							</button>
						</form>

					</li>

					<li class="dropdown user-profile">
						<a href="{% url 'logout' %}">
							<img src="{% static 'dist/images/user-4.png' %}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
							<span>
								Salir
							</span>
						</a>

						<ul class="dropdown-menu user-profile-menu list-unstyled">
							<li>
								<a href="#edit-profile">
									<i class="fa-edit"></i>
									New Post
								</a>
							</li>
							<li>
								<a href="#settings">
									<i class="fa-wrench"></i>
									Settings
								</a>
							</li>
							<li>
								<a href="#profile">
									<i class="fa-user"></i>
									Profile
								</a>
							</li>
							<li>
								<a href="#help">
									<i class="fa-info"></i>
									Help
								</a>
							</li>
							<li class="last">
								<a href="extra-lockscreen.html">
									<i class="fa-lock"></i>
									Logout
								</a>
							</li>
						</ul>
					</li>

				</ul>

			</nav>

				<div>

					{% block content %}

					{% endblock content %}

				</div>

				<div class="clearfix"></div>

		</div>

	</div>

	{% include 'includes/foot.html' %}
	{% block scripts %}

	{% endblock scripts %}

</body>
</html>
