<div class="row" ui-view="ViewInstitucionSedeLocalAmbientesNew">
  <div class="col-sm-12"  ng-init="init()">
    <section class="panel panel-default">
      <header class="panel-heading">
        <span class="pull-right">
          <a ui-sref="institucion.sedes.locales.ambientes.new" class="btn btn-secondary btn-icon0">
            <i class="fa-plus"></i>
            <span>Nuevo</span>
          </a>
        </span>
        <h3 class="panel-title same-margin"> Ambientes </h3>
      </header>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-model-2 table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Ambiente</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ambiente in ambientes">
                <td>{{ambiente.nombre}}</td>
                <td>{{ambiente.tipo_ambiente}}</td>
                <td>
                  <a ui-sref="institucion.sedes.locales.ambientes.edit({idAmbiente:ambiente.id})" class="btn btn-icon btn-blue" alt="Editar">
                    <i class="fa-pencil"></i>
                  </a>
                  <button class="btn btn-icon btn-red"  ng-click="borrarAmbiente(ambiente)" alt="eliminar">
                    <i class="fa-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
