<div class="row" ui-view="ViewInstitucionSedeLocalesNew">
  <div class="col-sm-6"  ng-init="init()">
    <section class="panel panel-default">
      <header class="panel-heading">
        <span class="pull-right">
          <a ui-sref="institucion.sedes.locales.new" class="btn btn-secondary btn-icon0">
            <i class="fa-plus"></i>
            <span>Nuevo</span>
          </a>
        </span>
        <h3 class="panel-title same-margin"> Locales </h3>
      </header>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-model-2 table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="local in locales">
                <td>{{local.nombre}}</td>
                <td>
                  <a ui-sref="institucion.sedes.locales.ambientes({ idLocal: local.id })" class="btn btn-icon btn-info" alt="mas información">
                    <i class="fa-search"></i>
                  </a>
                  <a ui-sref="institucion.sedes.locales.edit({idLocal:local.id})" class="btn btn-icon btn-blue" alt="Editar">
                    <i class="fa-pencil"></i>
                  </a>
                  <button class="btn btn-icon btn-red"  ng-click="borrarLocal(local)" alt="eliminar">
                    <i class="fa-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
  <div class="col-sm-6" ui-view="ViewInstitucionSedeLocalAmbientes">
</div>
</div>
