<div class="page" ng-init="init()">
  <section class="md-content-section">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        Nuevo Catalogo de Bienes.
      </div>
    </md-toolbar>
    <md-content>
      <form class="form-horizontal" role="form" name="catalogoForm" ng-submit="save_catalogo(catalogo)">
        <div layout="row">
           <div flex="66">
            <div layout-padding>
              <md-input-container>
                <label>Nombre</label>
                <input required ng-required="true" type="text" ng-model="catalogo.nombre" class="form-control">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Descripcion</label>
                <textarea required ng-required="true" ng-model="catalogo.descripcion" columns="1" md-maxlength="150" rows="5"></textarea>
              </md-input-container>
            </div>
          </div>
          <div flex="33">
            <div layout-padding>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Grupo</label>
                <md-select required ng-required="true" ng-model="catalogo.grupo" ng-change="ch_grupo(catalogo.grupo)">
                  <md-option ng-repeat="grupo in grupos" value="{{grupo.id}}">
                    {{grupo.nombre}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Clase</label>
                <md-select required ng-required="true" ng-disabled="!clases" ng-model="catalogo.clase">
                  <md-option  ng-repeat="clase in clases" value="{{clase.id}}">
                    {{clase.nombre}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm>
                <label>Tipo</label>
                <md-select required ng-required="true" ng-model="catalogo.tipo_catalogo_bien">
                  <md-option ng-repeat="tipo in tipos" value="{{tipo.id}}">
                    {{tipo.nombre}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>
        <div layout="column">
              <input type="submit" value="Guardar" class="btn btn-width-medium md-raised md-primary" />
              <md-button class="btn-width-medium md-raised md-primary"> Guardar </md-button>
        </div>
      </form>
    </md-content>
  </section>
</div>
