<div class="col-sm-12"  ng-init="init()">
  <section class="panel panel-default">
    <header class="panel-headin">
      <h3 class="panel-title"> Mantenimiento de Bienes </h3>
      <div class="clearfix"></div>
    </header>
    <div class="panel-body" ng-init="init()">
      <form name="mantenimientoFrm">

        <div class="row"><!--  search section -->
          <div class="col-sm-10">
            <label for="">Busqueda de Guías de Remisión</label>
            <div class="input-group dropdown">
              <input type="text" class="form-control" ng-model="filter_guiaRemision" ng-change="searchCatalogo(filter_catalog)" placeholder="Buscar Catalogo de Bienes">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button" id="dropdownMenu1" data-toggle="dropdown"> <i class="fa fa-search"></i> Buscar!</button>
              </span>
            </div><!-- /input-group -->
          </div>
        </div>

      </form>
    </div>
  </section>
