<div class="col-sm-12"  ng-init="init()">
  <section class="panel panel-default">
    <header class="panel-headin">
      <span class="pull-right">
        <a ui-sref=".^" class="btn btn-danger btn-icon">
          <i class="fa-times"></i>
          <span>Cancelar</span>
        </a>
      </span>
      <h3 class="panel-title"> Nueva Nota de Ingreso </h3>
      <div class="clearfix"></div>
    </header>
    <div class="panel-body" ng-init="init()">
      <form name="notaEntradaFrm">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group" ng-class="{'validate-has-error':notaEntradaFrm.proveedor.$invalid}">
              <label class="control-label" for="proveedor">Proveedor</label>
              <select class="form-control" name="proovedor" ng-disabled="!proveedores.$resolved" ng-model="nota.proveedor">
                <option ng-repeat="prov in proveedores" value="{{prov.nombre}}"> {{prov.nombre}}</option>
              </select>
              <span ng-show="notaEntradaFrm.proveedor.$error.required" class="validate-has-error"> Este campo es obligatorio.  </span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group" ng-class="{'validate-has-error':notaEntradaFrm.guia_remision.$invalid}">
              <label class="control-label" for="guia_remision">guia_remision</label>
              <input class="form-control" name="guia_remision" placeholder="Nombre" type="text" ng-model="nota.guia_remision" required>
              <span ng-show="notaEntradaFrm.guia_remision.$error.required" class="validate-has-error"> Este campo es obligatorio.  </span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group" ng-class="{'validate-has-error':notaEntradaFrm.orden_compra.$invalid}">
              <label class="control-label" for="orden_compra">orden_compra</label>
              <input class="form-control" name="orden_compra" placeholder="Nombre" type="text" ng-model="nota.orden_compra" required>
              <span ng-show="notaEntradaFrm.orden_compra.$error.required" class="validate-has-error"> Este campo es obligatorio.  </span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group" ng-class="{'validate-has-error':notaEntradaFrm.condicion.$invalid}">
              <label class="control-label" for="condicion">condición</label>
              <select class="form-control" name="condicion" ng-model="nota.condicion" required>
                <option value="1">Compra</option>
                <option value="2">Donacion</option>
                <option value="3">Bonificación</option>
              </select>
              <span ng-show="notaEntradaFrm.condicion.$error.required" class="validate-has-error"> Este campo es obligatorio.  </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label for="">Tipo de Comprobante</label>
              <select class="form-control" name="tipo_comprobante" ng-model="nota.tipo_comprobante">
                <option ng-repeat="u in st.tipo_comprobante" value="{{u.id}}">{{u.nombre}} </option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">Número de Comprobante</label>
              <input type="text" class="form-control" name="numero_comprobante" ng-model="nota.numero_comprobante">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="">Tipo de Moneda</label>
              <select class="form-control" name="tipo_moneda" ng-model="nota.tipo_moneda">
                <option ng-repeat="u in st.tipo_moneda" value="{{u.id}}">{{u.nombre}} </option>
              </select>
            </div>
          </div>
          <div class="col-sm-2" ng-if="nota.tipo_moneda=='2'">
            <div class="form-group" ng-class="{'validate-has-error':notaEntradaFrm.tipo_cambio.$invalid}">
              <label for="">Tipo de Cambio a soles</label>
              <input class="form-control" type="number" step="0.01" name="tipo_cambio" ng-model="nota.tipo_cambio" placeholder="0.00" required>
              <span ng-show="notaEntradaFrm.tipo_cambio.$error.required" class="validate-has-error"> Este campo es obligatorio.  </span>
            </div>
          </div>
        </div>
        <div class="row"><!--  search section -->
          <div class="col-sm-10">
            <label for="">Busqueda de Catálogo de Bienes</label>
            <div class="input-group dropdown">
              <input type="text" class="form-control" ng-model="filter_catalog" ng-change="searchCatalogo(filter_catalog)" placeholder="Buscar Catalogo de Bienes">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button" id="dropdownMenu1" data-toggle="dropdown"> <i class="fa fa-search"></i> Buscar!</button>
              </span>
            </div><!-- /input-group -->
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table" ng-show="results.length > 0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Agregar</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="res in results">
                  <td>{{res.id}}</td>
                  <td>{{res.nombre}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" name="button" ng-click="addCatalogo(res)">
                      Agregar <i class="fa fa-plus"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> <!-- end search section -->
        <div class="row well">
          <div class="col-sm-12 text-center">
            <h3> Detalle de Nota de Entrada</h3>
          </div>
          <div class="col-sm-12">
            <div class="">
              <table class="table table-responsive">
                <thead>
                  <tr>
                    <td> # </td>
                    <td> Catálogo </td>
                    <td> Cantidad </td>
                    <td> Precio Unitario</td>
                    <td> Subtotal </td>
                    <td> Eliminar</td>
                  </tr>
                </thead>
                <tbody<!--  nota.total=detalle.cantidad*detalle.precio_unitario-->
                  <tr ng-repeat="detalle in nota.detalles" ng-init="detalle.id = $index+1;">
                    <td>{{detalle.id}}</td>
                    <td>{{detalle.catalogo.nombre}}</td>
                    <td>
                      <input type="number" step="1" name="cantidad" ng-model="detalle.cantidad" value="0">
                      <label for="">Unidades</label>
                    </td>
                    <td>
                      <span ng-if="nota.tipo_moneda==1">S/ </span>
                      <span ng-if="nota.tipo_moneda==2">$ </span>
                      <input type="number" step="0.01" name="precio_unitario" ng-model="detalle.precio_unitario" value="0">
                    </td>
                    <td class="text-danger">
                      <strong class="text-color-danger">
                        <span ng-if="nota.tipo_moneda==1">S/ </span>
                        <span ng-if="nota.tipo_moneda==2">$ </span>
                        {{detalle.precio_unitario * detalle.cantidad}}
                      </strong>
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger" name="button" ng-click="remCatalogo(detalle)">
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr ng-if="nota.tipo_moneda==2">
                    <td colspan="3"></td>
                    <td class="bg-danger"> Total en Dólares </td>
                    <td class="bg-danger"> $ {{totalDetalle()}} </td>
                    <td></td>
                  </tr>
                  <tr ng-if="nota.tipo_moneda==2">
                    <td colspan="3"></td>
                    <td class="bg-danger"> Total en Soles </td>
                    <td class="bg-danger"> s/ {{totalDetalle()*nota.tipo_cambio}} </td>
                    <td></td>
                  </tr>
                  <tr ng-if="nota.tipo_moneda==1">
                    <td colspan="3"></td>
                    <td class="bg-danger"> Total en Soles </td>
                    <td class="bg-danger"> S/ {{totalDetalle()}} </td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-right">
            <span class="text-danger">{{error_form}}</span>
            <button ng-click="procesar(nota);" class="btn btn-lg btn-secondary btn-icon btn-icon-standalone" ng-disabled="notaEntradaFrm.$invalid">
              <i class="fa-floppy-o"></i>
              <span>Procesar la nota de venta</span>
            </button>
          </div>

        </div>
      </form>
    </div>
  </section>
