<div class="row" ng-init="init()">
  <div class="col-sm-12"  >
    <section class="panel panel-default">
      <header class="panel-heading">
        <span class="pull-right">
          <a ui-sref="^" class="btn btn-red btn-icon">
            <i class="fa-chevron-left"></i>
            <span>regresar</span>
          </a>
        </span>
        <h1 class="panel-title"> Detalle   </h1>
      </header>
      <div class="panel-body">
        <div class="">
          <strong>Proveedor: </strong>    {{nota.proveedor}}
        </div>
        <div class="table-resposive">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th colspan="5" class="text-center">  Detalles</th>
              </tr>
              <tr>
                <th> # </th>
                <th>Catalogo</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th> <i class="fa fa-gears"></i> </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="detalle in nota.detalles" >
                <td>{{$index+1}}</td>
                <td>{{detalle.catalogo.nombre}}</td>
                <td>{{detalle.cantidad}}</td>
                <td>{{detalle.precio_unitario}}</td>
                <td>
                  <button ng-if="detalle.pendiente" ng-click="generar(detalle)" type="button" class="btn btn-primary" name="button">
                  <i class="fa fa-gears"></i> Generar Codigo</button>
                  <a  ng-if="!detalle.pendiente" href="#" class="btn btn-info"> <i class="fa fa-bars"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="panel-footing"></footer>
    </section>
  </div>
</div>
