<div class="page-title">
  <div class="title-env">
    <h1 class="title">Nota de Ingresos</h1>
    <p class="description">de catalogo de bienes</p>
  </div>
  <div class="breadcrumb-env">
    <ol class="breadcrumb bc-1">
      <li>
        <a href="#/"><i class="fa-home"></i>Home</a>
      </li>
      <li class="active">
          <strong>Nota de Entrada</strong>
      </li>
    </ol>
  </div>
</div>
<div class="row" ui-view>
  <div class="col-sm-12"  ng-init="init()">
    <section class="panel panel-default">
      <header class="panel-heading">
        <span class="pull-right">
          <a ui-sref=".create" class="btn btn-secondary btn-icon">
            <i class="fa-plus"></i>
            <span>Agregar</span>
          </a>
        </span>
        <h3 class="panel-title"> Lista   </h3>
      </header>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-model-2 table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Proveedor</th>
                <th>G. Remisión</th>
                <th>O. Compra</th>
                <th>Condición</th>
                <th>N. Productos</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="nota in notas">
                <td>{{nota.id}}</td>
                <td>{{nota.nombre}}</td>
                <td>{{nota.clase}}</td>
                <td>{{nota.tipo_nota_bien}}</td>
                <td>{{nota.cuenta_contable}}</td>
                <td>
                  <a ui-sref=".show({id:nota.id})" class="btn btn-icon btn-info" alt="mas información">
                    <i class="fa-search"></i>
                  </a>
                  <a ui-sref=".edit({id:nota.id})" class="btn btn-icon btn-blue" alt="Editar">
                    <i class="fa-pencil"></i>
                  </a>
                  <button class="btn btn-icon btn-red" ng-click="remove(nota)" alt="eliminar">
                    <i class="fa-remove"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <footer class="panel-footing"></footer>
    </section>
  </div>
</div>
