<div class="page-title">
  <div class="title-env">
    <h1 class="title">Nota de Ingresos</h1>
    <p class="description">de catalogo de bienes</p>
  </div>
  <div class="breadcrumb-env">
    <ol class="breadcrumb bc-1">
      <li>
        <a href="#/"><i class="fa-home"></i>Home</a>
      </li>
      <li class="active">
          <strong>Nota de Entrada</strong>
      </li>
    </ol>
  </div>
</div>
<div class="row" ui-view>
  <div class="col-sm-12"  ng-init="init()">
    <section class="panel panel-default">
      <header class="panel-heading">
        <span class="pull-right">
          <a ui-sref=".create" class="btn btn-secondary btn-icon">
            <i class="fa-plus"></i>
            <span>Agregar</span>
          </a>
        </span>
        <h3 class="panel-title"> Lista   </h3>
      </header>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="search_input" placeholder="Buscar">
              <span class="input-group-btn">
                <button class="btn btn-info" type="button" id="dropdownMenu1"> <i class="fa fa-search"></i> Buscar!</button>
              </span>
            </div><!-- /input-group -->
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-model-2 table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Proveedor</th>
                <th>G. Remisión</th>
                <th>Orden de Compra</th>
                <th>Condición</th>
                <th> Estado </th>
                <th>Ver mas.</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="nota in notas | filter:search_input">
                <td> {{$index + 1 }}</td>
                <td>{{nota.proveedor}}</td>
                <td>{{nota.guia_remision}}</td>
                <td>{{nota.orden_compra}}</td>
                <td>
                  <span ng-if="nota.pendiente"> Pendiente</span>
                  <span ng-if="!nota.pendiente"> Procesada</span>
                </td>
                <td> <span ng-repeat="item in st.tipo_condiciones | filter:{id: nota.condicion}">{{item.nombre}}</span></td>
                <td>
                  <a ui-sref=".info({id_nota:nota.id})" class="btn btn-icon btn-info" alt="mas información">
                    <i class="fa-bars"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <footer class="panel-footing"></footer>
    </section>
  </div>
</div>
