{% load staticfiles %}

{% if settings.env == 'prod'%}
<!-- Theme main app compiled with grunt (replace with below scripts if not using grunt) -->
<script id="app_js" type="text/javascript" src="{% static 'dist/js/app.js' %}"></script>
{% else %}

<!-- Bottom Scripts -->
<script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dist/js/TweenMax.min.js' %}"></script>
<script src="{% static 'dist/js/resizeable.js' %}"></script>
<script src="{% static 'dist/js/joinable.js' %}"></script>
<script src="{% static 'dist/js/xenon-api.js' %}"></script>
<script src="{% static 'dist/js/xenon-toggles.js' %}"></script>

<!-- Imported scripts on this page -->
<script src="{% static 'dist/js/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'dist/js/jvectormap/regions/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'dist/js/xenon-widgets.js' %}"></script>

<!-- JavaScripts initializations and stuff -->
<script src="{% static 'dist/js/xenon-custom.js' %}"></script>

<!-- Replace main.js with all of these if not using grunt to compile -->
<script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- <script src="{% static 'scripts/gmap.js' %}"></script> -->
<script src="{% static 'lib/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'lib/angular/angular.min.js' %}"></script>
<script src="{% static 'lib/angular-animate/angular-animate.min.js' %}"></script>
<!-- <script src="/static/lib/angular-route/angular-route.min.js"></script> -->
<script src="{% static 'lib/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script src="{% static 'lib/angular-messages/angular-messages.min.js' %}"></script>
<script src="{% static 'lib/angular-aria/angular-aria.min.js' %}"></script>

<script src="{% static 'lib/angular-django-rest-resource/angular-django-rest-resource.js' %}"></script>
<script src="{% static 'lib/underscore/underscore-min.js' %}"></script>

<script src="{% static 'lib/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>


<!-- APP Scripts -->
<script src="{% static 'app/main/app.js' %}"></script>
<script src="{% static 'app/main/routes.js' %}"></script>

<!-- REST Services -->

<script src="{% static 'app/rest/rest.js' %}"></script>

<script src="{% static 'app/rest/bienes.js' %}"></script>
<script src="{% static 'app/rest/catalogo.js' %}"></script>
<script src="{% static 'app/rest/contabilidad.js' %}"></script>
<script src="{% static 'app/rest/institucion.js' %}"></script>
<script src="{% static 'app/rest/proveedor.js' %}"></script>
<script src="{% static 'app/rest/rrhh.js' %}"></script>

<!-- Panel app -->

<script src="{% static 'app/patrimonio/patrimonio.js' %}"></script>

<script src="{% static 'app/patrimonio/controllers/home.js' %}"></script>
<script src="{% static 'app/patrimonio/controllers/bien.js' %}"></script>
<script src="{% static 'app/patrimonio/controllers/catalogo.js' %}"></script>
<script src="{% static 'app/patrimonio/controllers/institucion.js' %}"></script>

{% endif %}
