{% load staticfiles %}

{% if settings.env == 'prod'%}
<!-- Theme main app compiled with grunt (replace with below scripts if not using grunt) -->
<script id="app_js" type="text/javascript" src="{% static 'dist/js/app.js' %}"></script>
{% else %}
<script src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
<!-- Replace main.js with all of these if not using grunt to compile -->
<script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- <script src="{% static 'scripts/gmap.js' %}"></script> -->
<script src="{% static 'lib/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'lib/angular/angular.min.js' %}"></script>
<script src="{% static 'lib/angular-animate/angular-animate.min.js' %}"></script>
<script src="{% static 'lib/angular-route/angular-route.min.js' %}"></script>
<script src="{% static 'lib/angular-sanitize/angular-sanitize.min.js' %}"></script>
<script src="{% static 'lib/angular-messages/angular-messages.min.js' %}"></script>
<script src="{% static 'lib/angular-aria/angular-aria.min.js' %}"></script>
<script src="{% static 'lib/angular-material/angular-material.min.js' %}"></script>
<script src="{% static 'lib/underscore/underscore-min.js' %}"></script>

<!-- <script src="{% static 'lib/jqvmap/jqvmap/jquery.vmap.min.js' %}"></script> -->
<script src="{% static 'lib/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>

<!-- <script src="{% static 'scripts/other_charts.js' %}"></script>
<script src="{% static 'scripts/extras.js' %}"></script>
<script src="{% static 'scripts/audio.min.js' %}"></script>
-->
<!-- APP Scripts -->
<script src="{% static 'app/material/main.js' %}"></script>
<script src="{% static 'app/main/app.js' %}"></script>

<script src="{% static 'app/main/config.js' %}"></script>
<script src="{% static 'app/main/controllers.js' %}"></script>
<script src="{% static 'app/main/directives.js' %}"></script>
<script src="{% static 'app/main/services.js' %}"></script>

{% endif %}
