<div class="page-title">
  <div class="title-env">
    <h1 class="title">Contabilidad</h1>
    <p class="description">Cuentas contables y su depreciacion</p>
  </div>
  <div class="breadcrumb-env">
    <ol class="breadcrumb bc-1">
      <li>
        <a href="#/"><i class="fa-home"></i>Home</a>
      </li>
      <li class="active">
          <strong>Cuentas Contables</strong>
      </li>
    </ol>
  </div>
</div>
<aside class="md-content-section">
  <section class="col-md-10">

    <div class="row" ui-view="">
      <div class="col-sm-12"  ng-init="init()">
        <section class="panel panel-default">
          <header class="panel-heading">
            <span class="pull-right">
              <a ui-sref=".new" class="btn btn-secondary btn-icon0">
                <i class="fa-plus"></i>
                <span>Nuevo</span>
              </a>
            </span>
            <h3 class="panel-title same-margin"> Cuentas Contables </h3>
          </header>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-model-1 table-hover">
                <thead>
                  <tr>
                    <th> N °</th>
                    <th> Nombre </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="cuenta in cuentas">
                    <td>{{cuenta.numero_cuenta}}</td>
                    <td>{{cuenta.nombre}}</td>
                    <td  class="pull-right">
                      <a ui-sref="cuenta_contable.edit({ idCuentaContable: cuenta.id })" class="btn btn-icon btn-info" alt="mas información">
                        <i class="fa-search"> Editar</i>
                      </a>
                      <a ui-sref="cuenta_contable.edit({idInstitucion:cuenta.id})" class="btn btn-icon btn-blue" alt="Cuenta">
                        <i class="fa-check"> Cuenta</i>
                      </a>
                      <a ui-sref="cuenta_contable.edit({idInstitucion:cuenta.id})" class="btn btn-icon btn-orange" alt="Editar">
                        <i class="fa-pencil"> Depreciacion</i>
                      </a>
                      <button class="btn btn-icon btn-red"  ng-click="borrarCuentaContable(cuenta)" alt="eliminar">
                        <i class="fa-remove"> Eliminar</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <footer class="panel-footing"></footer>
        </section>
      </div>
    </div>
  </section>
  <section class="col-md-2" ui-view="ViewCuentasDepreciacion">

  </section>
</aside>
