{% extends "layouts/login_base.html" %}
{% load staticfiles %}
{% block content %}
<div class="login-container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Eleción de Instituciones</h1>
    </div>
  </div>
    <div class="row">
        <div class="col-sm-5">
          <h3> Profavor, elige una Institucion para proseguir con la aplicacion.</h3>
        </div>
        <div class="col-sm-7">
          <ul>
            {% for puesto in puestos %}
            <li>
              <form action="#" method="post">
                {% csrf_token %}
                <label for="institucion_id"><h3>{{puesto.institucion.nombre}}</h3></label>
                <input type="hidden" name="institucion_id" value="{{puesto.institucion.id}}">
                <button class="btn btn-gray" type="submit" name="button"> <i class="fa-arrow-right"></i></button>
              </form>
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>
</div>
{% endblock %}
